In [0]:
class Person:
  department = 'School of Information'

  def set_name(self, new_name):
    self.name = new_name
  def set_location(self, new_location):
    self.location = new_location

In [0]:
person = Person()

person.set_name('Tom Hillory')
person.set_location('India')

print('{} lives in {}'.format(person.name, person.location))

Tom Hillory lives in India

In [0]:
# Map Function in Python
# iterates over all the items of a list / tuple etc

store1 = [10.00,11.00,12.34,2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store1, store2)
cheapest

In [0]:
for item in cheapest:
  print(item)

9.0
11.0
12.34
2.01

Advance Python Lambda functions

In [0]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
# function = (lambda x: x.split()[0] + ' ' + x.split()[-1])
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

# function_name replace by activity = (lambda x: x.split()[0] + ' ' + x.split()[-1])


#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True