<a href="https://colab.research.google.com/github/stutis28/IntroductionToDataScience/blob/master/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x = 1
y = 2 
x + y

3

In [0]:
def add_numbers(x,y,z):
  return x + y + z

add_numbers(1,2,3)

6

In [0]:
def add_numbers(x, y, z = None):
  if (z == None):
    return x + y
  else:
    return x + y + z

print(add_numbers(1,3))
print(add_numbers(1,2,3))

4
6

In [0]:
def add_numbers(x, y, z = None, flag = False):
  if(flag):
    print("Flag is True")
  if(z == None):
    return x + y
  else:
    return x + y + z

print(add_numbers(1, 2, flag = True))
print(add_numbers(2, 4, 6))
print(add_numbers(5,5))

Flag is True
3
12
10

In [0]:
def add_numbers(x, y):
  return x + y

a = add_numbers
a(1, 2)

3

Types and Sequences

In [0]:
type('This is a string')

str

In [0]:
type(None)

NoneType

In [0]:
type(1.0)

float

In [0]:
type(add_numbers)

function

In [0]:
# Tuples are immutable ordering cannot be changed 
# once created
x = (1, 'a', 2, 'b')
type(x)

tuple

In [0]:
# Lists are mutable i.e. can change there length, 
# number of variables and there values

x = [1, 'a', 2, 'b']
type(x)

list

In [0]:
# add an item to a list 
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [0]:
# Iterate over every item of a list
for item in x:
  print(item)

1
a
2
b
3.3

In [0]:
# perform operation by the length of a list
i = 0
while ( i != len(x)):
  print(x[i])
  i += 1

1
a
2
b
3.3

In [0]:
# concatenate list
[1, 2] + [4, 5]

[1, 2, 4, 5]

In [0]:
# repeat values of a list
1 * 3

3

In [0]:
# Checks if an item is in the given the list and 
# returns True or False accordingly

1 in [1, 2, 3]

True

Manipulation

In [0]:
 # Slicing a list

 x = 'This is a string'

 print(x[0])
 print(x[0:1])
 print(x[0:2])

T
T
Th

In [0]:
x[-1]

'g'

In [0]:
x[-4:-2]

'ri'

In [0]:
x[:3]

'Thi'

In [0]:
x[3:]

's is a string'

Regular Expression  Evaluation

In [0]:
firstname = 'Christopher'
lastname = 'Brooke'

print(firstname + ' ' + lastname)
print((firstname + ' ') * 3)
print('Chris' in lastname)

Christopher Brooke
Christopher Christopher Christopher
False

In [0]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

Dictionaries

In [0]:
x = {'Christopher Brooks' : 'brooksch@unich.edu', 'Bill Gates' : 'billg@msc.com'}
x['Christopher Brooks']

'brooksch@unich.edu'

In [0]:
x['Kevyn Collins- Thompson'] = None

In [0]:
print(x)

{'Christopher Brooks': 'brooksch@unich.edu', 'Bill Gates': 'billg@msc.com', 'Kevyn Collins- Thompson': None}

In [0]:
for name in x:
  print(x[name])

brooksch@unich.edu
billg@msc.com
None

In [0]:
for email in x.values():
  print(email)

brooksch@unich.edu
billg@msc.com
None

In [0]:
for name, email in x.items():
  print(name)
  print(email)

Christopher Brooks
brooksch@unich.edu
Bill Gates
billg@msc.com
Kevyn Collins- Thompson
None

In [0]:
for name, email in x.items():
  print(name)

Christopher Brooks
Bill Gates
Kevyn Collins- Thompson

Unpacking contents of a tuple / list into variables

In [0]:
x = ('Christopher', 'Brooks', 'abc@xyz.com')
fname, lname, email = x
print(fname)
print(lname)
print(email)

Christopher
Brooks
abc@xyz.com

In [0]:
xy = [1,2]
aa, bb = xy
print(aa)
print(bb)

1
2

More on strings

In [0]:
print('Chris' + 2)

TypeError: ignored

In [0]:
print('Chris' + str(2))

Chris2

In [0]:
salesRecord = {'price' : 3.24,
               'num_items' : 4,
               'person' : 'Chris'}

sales_statement = '{} brought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(salesRecord['person'],
                             salesRecord['num_items'],
                             salesRecord['price'],
                             salesRecord['price'] * salesRecord['num_items']))

Chris brought 4 item(s) at a price of 3.24 each for a total of 12.96