<a href="https://colab.research.google.com/github/stutis28/IntroductionToDataScience/blob/master/The_Series_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, 3.5, None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.5
3    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery' : 'Bhutan',
          'Golf' : 'Scotland',
          'Sumo' : 'Japan',
          'Taekwondo' : 'South Korea'}

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [12]:
sports = {'Archery' : 'Bhutan',
          'Golf' : 'Scotland',
          'Sumo' : 'Japan',
          'Taekwondo' : 'South Korea'}

s = pd.Series(sports, index = ['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

Querying a Series

In [13]:
sports = {'Archery' : 'Bhutan',
          'Golf' : 'Scotland',
          'Sumo' : 'Japan',
          'Taekwondo' : 'South Korea'}

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [18]:
s.iloc[3]

'South Korea'

In [20]:
s.loc['Sumo']

'Japan'

In [21]:
sports = {99 : 'Bhutan',
          100 : 'Scotland',
          101 : 'Japan',
          102 : 'South Korea'}

s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [30]:
s.iloc[0]

'Bhutan'

In [31]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [36]:
s.iloc[2]

101.0

In [38]:
total = 0
for item in s:
  total += item

print(total)

324.0

In [39]:
total = np.sum(s)
print(total)

324.0

In [40]:
s = pd.Series(np.random.randint(0,1000,1000))
s.head()

0    899
1    270
2     66
3    722
4    741
dtype: int64

In [41]:
len(s)

1000

Magic Functions %%timeit

In [42]:
%%timeit -n 100
summary = 0
for item in s:
  summary += item

100 loops, best of 3: 126 µs per loop

In [43]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 127 µs per loop

In [44]:
s += 2
s.head()

0    901
1    272
2     68
3    724
4    743
dtype: int64

In [47]:
for label, value in s.iteritems():
  s.set_value(label, value + 2)

s.head()

AttributeError: ignored

In [0]:
original_sports = pd.Series({'Archey' : 'Bhutan',
                            'Golf' : 'Scotland',
                            'Sumo' : 'Japan',
                            'Taekwondo' : 'South Korea'})

cricket_loving_countries = pd.Series(['Australia',
                                      'India',
                                      'England'],
                                     index = ['Cricket',
                                              'Cricket',
                                              'Cricket'])

all_countries = original_sports.append(cricket_loving_countries)

In [49]:
original_sports

Archey            Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [50]:
cricket_loving_countries

Cricket    Australia
Cricket        India
Cricket      England
dtype: object

In [51]:
all_countries

Archey            Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket            India
Cricket          England
dtype: object